@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #222;
}

.header {
  height: 60px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.header__logo img {
  max-height: 60px;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__auth span {
  color: indigo;
  font-weight: 500;
}

.header__auth button:hover {
  box-shadow: 0px 0px 8px #bbb;
}

.header__auth button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.btn-success {
  border: 1px solid green;
  color: green;
}

.btn-danger {
  border: 1px solid #b80000;
  color: #b80000;
}

.main {
  display: flex;
  padding-right: 240px;
  padding-left: 240px;
}

.cursos {
  max-width: 900px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.curso__caracteristicas {
  font-size: 0.8rem;
  color: #888;
}

.curso__caracteristicas span {
  margin-right: 0.5rem;
}

.curso__info {
  font-size: 0.9rem;
}

.curso__descripcion {
  font-size: 0.9em;
  color: #666;
  line-height: 1.05rem;
  margin: 5px 0 10px 0;
}

.curso {
  padding: 0.5rem;
  display: flex;
  max-width: calc(50% - 10px);
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #bbb;
  cursor: pointer;
}

.curso:hover {
  box-shadow: 0px 0px 5px #aaa;
}

.curso__imagen img {
  max-width: 100px;
}

.curso__imagen {
  position: relative;
}

.curso__acciones {
  margin-top: .5rem;
}

.curso__acciones .btn__comprar {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.carrito, .seleccionado {
  width: 240px;
  background-color: white;
  box-shadow: 0px 10px 15px #ccc;
  position: fixed;
  right: 0;
  height: calc(100vh - 60px);
  padding: 1.5rem 0.5rem;
}

.seleccionado {
  left: 0;
  text-align: center;
}

.seleccionado__img img {
  max-width: 100%;
}

.seleccionado__title {
  margin-bottom: 1rem;
}

.seleccionado__desc {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.seleccionado__disponible {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.seleccionado__horas, .seleccionado__precio {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #666;
}

.carrito h3, .seleccionado h3 {
  text-align: center;
  margin-bottom: 10px;
}

.carrito__lista {
  list-style: none;
}

.carrito__lista li {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

.carrito__lista li strong {
  font-size: 14px;
  color: #555;
}

.carrito__lista p {
  margin-top: 5px;
}

.btn-success:hover {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.btn-danger:hover {
  background-color: #b80000;
  border: 1px solid #b80000;
  color: white;
}

.disponible {
  background-color: green;
  color: white;
  border-radius: 2px;
  padding: 2px 5px;
}

.no-disponible {
  background-color: red;
  color: white;
  border-radius: 2px;
  padding: 2px 5px;
}

.curso__descuento {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: yellow;
  font-size: 0.8rem;
  padding: 10px;
}