* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	background-color: #222;
	color: white;
}
.contenedor {
	border: 1px solid yellow;
	display: flex;
	height: 300px;
	/*flex-direction: row; propiedad por defecto
  cuando un padre es te tipo FLEX*/
	/*¿Qué significa?*/
	/*Que todos los hijos se colocan en una sola fila*/
	/*Depende:*/
	flex-direction: row;
	/*flex-wrap: nowrap; propiedad por defecto
  ¿Qué significa?, que los hijos no colapsan incluso si necesitaran
  más espacio del que tienen disponible*/
	flex-wrap: wrap;
	/*¿Cuáles son los ejes principales y secundarios?*/
	/*
	Depende:
	- Cuando flex-direction: row; EJE PRINCIPAL:X, EJE SECUNDARIO:Y
	- Cuando flex-direction: column; EJE PRINCIPAL:Y, EJE SECUNDARIO:X
	*/
	/*Alineación*/
	/*justify-content: ; => Alinea los elementos en el eje PRINCIPAL*/
	/*align-items: ; => Alinea los elementos en el eje SECUNDARIO*/
	justify-content: space-between;
	align-items: center;
}
.contenedor > div {
	border: 1px solid;
}
.hijo-1 {
	width: 250px;
	height: 100px;
	/*flex-grow: ;*/
	/* flex: 2; */
}
.hijo-2 {
	/* width: 100px; */
	height: 100px;
	/*flex-grow: ;*/
	flex: 1;
}
.hijo-3 {
	width: 100px;
	/* height: 100px; */
	align-self: flex-start;
	/*flex-grow: ;*/
	flex: 1;
}
.hijo-4 {
	/* width: 100px; */
	height: 100px;
	/*flex-grow: ;*/
	flex: 1;
}
