* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
}
aside {
	width: 350px;
	border: 1px solid cadetblue;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
}
section {
	overflow-y: scroll;
	flex: 1;
	border: 1px solid cadetblue;
	padding: 120px;
}
