* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.container {
	max-width: 1440px;
	display: flex;
	height: 600px;
	margin: 0 auto;
	flex-wrap: wrap;
}
.left {
	background-color: chocolate;
	flex: 7;
}
.right {
	background-color: darkkhaki;
	flex: 1;
}

@media (max-width: 760px) {
	.left,
	.right {
		flex: 1;
	}
}
