/* :link links no visitados */
.nav_link:link{
  color: darkgreen;
}
/* :visited links visitados*/
.nav_link:visited{
  color: dodgerblue;
}
/* :active cuando un elemento es clickado
(exactamente cuando el click está presionado)*/
.nav_link:active{
  color: brown;
}

.btn_guardar{
  border: none;
  outline: none;
  background-color: indigo;
  color: white;
  padding: 10px;  
}
/*
Cuando el mouse pasa sobre el elemento*/
.btn_guardar:hover{
  transform: translate(0,1px);
  cursor: pointer;
}

.btn_guardar:active{
  transform: translate(0,2px) scale(0.96);
  box-shadow: 0px 2px 10px #555;
}

input{
  outline: none;
  border: none;
  padding: 4px 5px;
  font-size: 18px;
  border-bottom: 1px solid #a969d8;
  margin-left: 10px;
}
/* :focus cuando el cursor se encuentra
sobre un input*/
input:focus{
  border-bottom: 1.5px solid #7e04d4;
}

.tabla thead tr:nth-child(1){
  /*De la lista de TR's hermanos que sean hijos
  de un thead, que a su vez sea hijo de un elemento con 
  clase .tabla
  De todos esos TR's, el primero*/
  background-color: indigo;
  color: white;
}

.tabla tbody tr:nth-child(3){
  color: tomato;
}

.tabla tbody tr td:nth-child(5){
  background-color: #c998ec;
}

.tabla tbody tr:nth-child(4) td:nth-child(2){
  background-color: aquamarine;
}

.tabla tbody tr:nth-child(odd){
  background-color: #ead2fb;
}
.tabla tbody tr:nth-child(even){
  background-color: #dbaafd;
}

.tabla td:hover{
  cursor: pointer;
  background-color: #ba79e9;
}

input[type]{
  /*Todos los inputs que tengan setteado el atributo type*/
}

input[type="password"]{
  /*Todos los inputs que tengan el type="password"*/
}