* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	background-image: linear-gradient(60deg, #0c0e2e, #3cb6cb);
}

header {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0px;
}

h1 {
	font-family: sans-serif;
	color: #eee;
	text-align: center;
	width: 500px;
	/* margin-left: auto;
	margin-right: auto; */
	margin: 0 auto;
	backdrop-filter: blur(5px);
	padding: 30px;
	border: 1px solid #888;
	border-radius: 8px;
}
